		.clearfix:before,
		.clearfix:after {
					    content: "";
					    display: block;
					    clear: both;
					    visibility: hidden;
					    line-height: 0;
					    height: 0;
					    font-size:0;
}

		.clearfix { *zoom:1;}

		*{
			margin:0;
			padding: 0;
		}

		a{
			text-decoration: none;
		}

		a:focus, a:hover {
			text-decoration: none;
		}

		ul {
			margin-bottom: 0;
			list-style: none;
		}

		body{
			width: 100%;
		}

		.top {
			width: 100%;
		}

		.Top-bg{
			width: 100%;
			background-color: #000;
		}

		.col-md-6 {
			padding: 0;
		}

		.container{
			width: 60%; 
			margin:0 auto;
			padding-top: 14px;
			padding-bottom: 14px;
			position: relative;
			left: 0;
			right: 0;
		
		}

		.share {
			float: left;
		}

		.share li{
			float: left;
		}

		.share i{
			color: #fff;
			font-size: 14px;
			margin-right: 5px;
		}

		.share i:hover{
			color: #3BA974;
		}

		.phone{
			color: #fff;
			float: left;
			font-size: 12px;
			margin-left: 10%;
			margin-right: 10%;
		}

		.phone i{
			color: #3BA974;
			font-size: 18px;
			margin-right: 4px;
		}

		.time{
			color: #fff;
			float: left;
			font-size: 12px;
			margin-right: 140px;
		}



		.time i{
			color: #3BA974;
			font-size: 18px;
			margin-right: 4px;
		}

		.languages li{
			margin-right: 10px;
			float: left;
		}

		.languages a{
			color: #fff;
		}

		.languages a:hover{
			color: #3BA974;
		}

		.languages{		
			font-size: 12px;
			float: left;
			margin-right: 10%;
			margin-top: 1%;
		}

		.u-basket{
			width: 44px;
			float: left;
			position: relative;
		}

		.u-basket i{
			color: #fff;
			font-size: 18px;
		}

		.search{
			float: left;
			position: relative;
		}

		.search i{
			color: #fff;
			font-size: 22px;
		}

		.search i:hover{
			color: #3BA974;
		}

		.nav{
			width: 100%;
			margin:0 auto;
			margin-top: 2%;
		}

		.nav .logo{
			background-image: url("../images/logo-1.png");
			display: block;
			width: 131px;
			height: 41px;
			float: left;
		}

		.nav-bar{
			float: right;
    		padding-top: 1%;
		}

		.nav-list {
			width: 60%;
			margin:0 auto;
		}

		.nav-bar img{
			width: 12px;
			margin-left: 6px;
		}

		.nav-bar li{
			float: left;
			margin-left: 1.6rem !important;
    		margin-right: 1.6rem !important;
		}

		.nav-bar a{
			color: #000;
			display: block;
			font-weight: bold;
			float: left;
			
		}

		section{
			width: 100%;
			margin:0 auto;
		}

		section .content-sper {
			width: 60%;
			margin:0 auto;
		}

		.g-px{
			max-width: 41.666667%;
			float: right;
			padding-top: 3rem;
			padding-left: 6.85714rem !important;
    		padding-right: 2.85714rem !important;
    		margin-bottom: 5%;
		}

		.g-px span{
			color: #000;
			font-weight: 500;
			font-size: 2.14286rem;
			margin-right: .5rem;
		}

		.g-px s{
			color: #777;
			font-weight: 500;
			font-size: 1.14286rem;
		}

		.g-mb-30{
			margin-bottom: 35px;
		}

		.g-mb-30 h1{
			font-weight: 300;
			font-size: 2.5rem;
			margin-bottom: 2.5rem;
			line-height: 1.1;
		}

		.g-mb-30 p{
			color: #777;
			line-height: 1.6rem;
			font-size: 14px;
		}

		h2{
			font-size: 0.85714rem;
			color: #999;
			font-weight: 400;
			margin-bottom: 12px;
		}

		.g-brd-y{
			border-top: solid 1px #ddd;
			/*border-bottom: solid 1px #ddd;*/
			padding-top: 15px;
			padding-bottom: 15px;
		}

		.g-brd-y a{
			display: block;
		}

		.g-brd-y h5{
			color: #999;
			font-weight: normal;
			float: left;			
		}		

		.g-brd-y span{
			font-size: 16px;
		}

		.g-brd-y span img{
			width: 14px;
			height: 14px;
			float: right;
		}

		.collapse{
			display: none;
		}

		.collapse p{
			color: #777;
			font-size: 0.85714rem;
			margin-bottom: .5rem;
		}

		.g-brd-y ul{
			float: right;
		}

		.g-brd-y ul li{
			width: 12px;
			height: 12px;
			border-radius: 100%;
			cursor: pointer;
			float: left;
			margin-left: 10px;
		}

		.g-brd-y ul li:first-child{	
			background-color: #3bb18f;	
		}

		.g-brd-y ul li:nth-child(2){	
			background-color: #e5e1de;	
		}

		.g-brd-y ul li:nth-child(3){	
			background-color: #000;	
		}

		.g-brd-y ul li:nth-child(4){	
			background-color: #777;	
		}

		.size{
		    padding-top: 15px;
		    padding-bottom: 15px;
		    border-top: solid 1px #ddd;
		}

		.size h5{
			float: left;
			color: #999;
    		font-weight: normal;
		}

		.size ul{
			float: right;
		}

		.size ul li{
			float: left;
			font-size: 14px;
			margin-left: 16px;
			cursor: pointer;
		}

		.color{
			color: #3bb18f;
		}

		.quanti{
			float: right;
			border:1px solid #ccc;
		}

		.quanti input{
			border:0;
			width: 42px;
			text-align: center;
		}

		.quanti span{
			width: 14px;
			display: block;
			margin:0 auto;
			cursor: pointer;
		}

		.quanti .in-add{
			float: right;
			width: 38px;
			border-left: 1px solid #ccc;
		}

		

		.row11{
			border-top: 1px solid #ccc;
    		padding-top: 29px;
		}

		.row11>div{
			padding: 15px 24px;
		    border-radius: 0.25rem;
		}

		.row11 .cart{
			color: #fff;
   			background-color: #3bb18f;
   			float: left;
   			cursor: pointer;
		}

		.row11 .cart:hover{
			background-color: #58c7a7;
		}

		.row11 .Wishlist{
			float: right;
			color: #999;
			border: 1px solid #777;
			margin-left: 7px;
			cursor: pointer;
		}

		.row11 .Wishlist:hover{
			background-color: #000;
		}

		.row11 .Wishlist img{
			width: 12px;
			height: 12px;
			margin-left: 15px;
		}

		.row11 .cart i{
			font-size: 12px;
			margin-left: 15px;
		}

		.tablist{
			font-size: 0.85714rem;
    		margin-top: 29px;
    		display: flex;
    		justify-content: space-between;

		}

		.tablist li{
			float: left;
			border-bottom: 1px solid;
			padding-bottom: 4px;

		}

		.tablist a:hover{
			    text-decoration: none;
		}

		

		.tablist li a{
			color: #000;
		}

	

		.return p{
			color: #777;
			font-size: 0.92857rem;
		}

		.return p a{
			color: #3bb18f;
		}

		.tablist .show1{
			color: #3bb18f;
		}

		.return{
			padding-top: 1.4rem;
			float: left;
			display: none;
		}

		.menu {
			width: 46px;
			height: 46px;
			background-image: url("../images/列表.png");
			background-repeat: no-repeat;
			background-size: cover;
		}

	

		.nav-1{
			display: none;
			float: left;
		}

		.nav-1 td{
			width: 50px;
		}

		.nav-1 td:first-child{
			width: 150px;
		}

		.nav-1 tr{
			color: #777;
    		font-size: 0.85714rem;
   			line-height: 1.8;
		}

		.active{
			display: block !important;

		}

		h4{
			margin-bottom: 1rem;
		}

		thead{
			color: #555;
			font-size: 0.92857rem;
		}

		.nav-3{
			float: left;
			display: none;
		}

		.nav-3>div{
			float: left;
			margin-top: 14px;

		}

		h6{
			float: left;
			width: 25%;
			color: #555;
		}

		h6:last-child{
			width: 65px;
			text-align: center;
		}

		.nav-3 li{
			color: #777;
			font-size: 13px;
			float: left;
			width: 25%;
		}

		.Latest-1 .col-sm-6 {
			max-width: 50%;
			box-shadow: 0 20px 25px -12px rgba(0,0,0,0.09);
			margin-bottom: 5%;
		}

		.g-mx-minus-10 {
			margin-left: -0.71429rem !important;
    		margin-right: -0.71429rem !important;
		}
		
		.nav-3 .li-1{
			padding: 0.2px;
		}

		.free-bg{
			width: 100%;
			padding-top: 2.14286rem;
			padding-bottom: 2.14286rem;
			border-top: 1px solid #eee;
			border-bottom: 1px solid #eee;
			float: left;
		}

		.free{
			width: 100%;
			margin:0 auto;
			padding: 18px 0;
			float: left;
		}

		

		.free>div{
			display: flex;
			float: left;
		}

		.free>div:nth-child(2){
			border-left: 1px solid #eee;
			border-right: 1px solid #eee;
		}

		.free>div img{
			width: 30px;
			height: 30px;
			margin-right: 1.5rem;
		}

		.free>div span{
			font-size: 0.8rem;
			display: block;
			line-height: 1.6;

		}

		.shipping{
			float: right;
		}

		.main {
			width: 100%;
			margin: 0 auto;
		}

		.main>div .word{
			width: 50%;
			padding: 15% 8%;
			float: left;
		}

		.main>div .pic{
			float: right;
		    overflow: hidden;
		}

		.main>div:nth-child(2) .pic{
			float: left;
		}

		.main>div span{
			margin-bottom: 3rem;
			font-size: 0.5rem;
			display: block;
		}

		.main>div h3{
			font-size: 2.6rem;
			margin-bottom: 1.5rem;
		}

		.main>div p{
			color: #777;
		}

		.main .mid img{
			float: left;
		}

		.main .mid .word{
			float: right;
		}

		.Latest{
			background-color: #f7f7f7;
		}

		.Latest-1{
			padding-bottom: 5rem;
			padding-top: 7.14286rem;
			width: 61%;
    		margin:0 auto;
		}

		.Latest-1 .text{
			margin-bottom: 3.57143rem;
			max-width: 600px;
			text-align: center;
			margin:0 auto;
			margin-bottom: 3.57143rem;
		}

		.Latest-1 .text h2{
			font-size: 2rem;
			color: #000;
			margin-bottom: 1.5rem;
		}

		.Latest-1 .text p{
			font-size: 1.25rem;
			color: #777;
			font-weight: 300;
		}

		.gwc{
			position: absolute;
			z-index: 99;
			background-color: #000;
			border-top: 2px solid #3bb18f;
			padding: 0px 12px 16px 12px;
			top: 100%;
   			right: 0;
   			display: none;
   			height: 400px;
		}

		.gwc .sp{
			margin-top: 12px;
    		margin-bottom: 0;
    		padding: 0;
    		border: 0;
		}

		.gwc>div{
			height: 315px;
			overflow: auto;
		}

		.gwc>div>div{
			margin: 12px 0;
			padding-bottom: 12px;
			border-bottom: 1px solid #352929;
		}

		.gwc img{
			width: 80px;
			float: left;
			cursor: pointer;
		}

		.gwc .w{
			float: left;
			padding-left: 10px;
			padding-top: 10px;
		}

		.gwc .w span{
			color: #fff;
			font-size: 14px;
    		display: block;
		}

		.gwc .w span:last-child{
			color: #ccc;
			font-size: 12px;
    		margin-top: 6px;
		}

		.gwc .view{
			margin-top: 0;
		}

		.SUBTOTAL span{
			color: #fff;
		}

		.SUBTOTAL span:last-child{
			color: #3bb18f;
			float: right;
		}

		.SUBTOTAL a{
			color: #3bb18f;
			padding: 6px 24px;
			border: 1px solid #3bb18f;
			margin-top: 12px;
		    display: block;
		    float: left;
		}

		.SUBTOTAL a:last-child{
			background-color: #3bb18f;
			color: #fff;
			margin-left: 12px;
		}

		.grid{
			padding: 12px;
			width: 162px;
    		float: left;
    		border-top: 2px solid #3bb18f;
    		position: absolute;
		    z-index: 99;
			top: 100%;
		    background-color: #fff;
		    display: none;

		}

		.grid li{
			line-height: 2rem;
		 	width: 100%;
		}

		.grid li:hover{
			background-color: #ccc;
			opacity: 0.5;
		}

		.grid a{
			color: #000;
    		font-weight: 400;
    		margin-left: 0px;
		}

		.pic img{
			width: 100%;
		}

		.pic-1 img{
			width: 100%;
		}

		.pic-2{
			width: 100%;
			margin:0 auto;
			float: left;
		    position: absolute;
		    z-index: 99;
		    top: 100%;
		    left: 0;
		    background-color: #fff;
		    border-top: 2px solid #3bb18f;
			display: none;
			border-left: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
			border-right: 1px solid #ccc;
		}

		/*.swiper-wrapper {
			transform: translate3d(-100%, 0px, 0px) !important;
		}
*/
		.pic-3{
			width: 100%;
			margin:0 auto;
			float: left;
		    position: absolute;
		    z-index: 99;
		    left: 0;
		    top: 100%;
		    background-color: #fff;
		    border-top: 2px solid #3bb18f;
			border-left: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
			border-right: 1px solid #ccc;
			display: none;
		}


		.pi-1{
			position: relative;
		}

		.pi-1 span{
			display: block;
			position: absolute;
		    bottom: 116px;
		    left: 82px;
		}

		.pi-1 h2{
			font-size: 2.5rem;
			color: #000;
			font-weight: 600;
			position: absolute;
		    bottom: 48px;
		    left: 82px;
		}

		.pic-3>div{
			float: left;
			padding-top: 3%;
	    	padding-bottom: 3%;
		}

		.col-md-4 {
			width: 33%;
		}

		.pic-3 img{
			width: 100%;
			float: left;
			cursor: pointer;
		}

		.pic-2>div{
			float: left;
			padding: 2.14286rem !important;
		}

		.pic-2>div span{
			float: left;
			width: 100%;
			line-height: 2;
		}

		.picbox{
			width: 263px;
		    height: 364px;
		    overflow: hidden;
		    float: left;
		}

		.picbox img{
			width: 263px;
			position: absolute;
			opacity: 0;
		}

		.picbox .show{
			opacity: 1;
		}

		.pic-d{
			position: absolute;
			margin-top: 300px;
    		margin-left: 114px;
		}

		.pic-d a{
			display: inline-block;
			background-color: #fff;
			width: 12px;
			height: 12px;
			border-radius: 100%;
		}


		.picbox .show{
			opacity: 1;
		}

		.pic-d .active{
			background-color: hotpink;
		}

		.pic-44{
			padding: 0 4%;
			display: flex;
			justify-content: space-around;
		}
		
		.pic-44 li{
			display: block;
		    float: left;
		    width: 33.33%;
		    overflow: hidden;
		    margin-left: 0.71429rem;
		    margin-right: 0.71429rem;
		    position: relative;
		}

		.pic-44 li:hover img{
			transform: scale(1,1);
		}

		.pic-44 img{
			max-width: inherit;
			width: calc(100% + 60px);
			transition: all .5s;
			height: 100%;
			transform: translate3d(0, -20px, 0) scale3d(1.1, 1.2, 1.1);
		}

		.sport{
			width: 100%;
    		text-align: center;
    		color: #777;
    		font-size: 16px;
    		position: absolute;
    		bottom: -7%;
    		transition: all 0.3s;
		}

		.sport>a{
			margin-bottom: 10px;
			border-bottom: 1px solid #fff;
		}

		.sport p a{
    		font-size: 12px;
    		color: rgba(255, 255, 255, 0.7);
    		margin: 10px 0 20px 0;
    		display: block;
		}

		.sport a{
			color: #fff;
		}

		.sport span{
			color: rgba(255, 255, 255, 0.7);
			float: left;
		}

		.sport span:first-child{
			float: none;
		}

		.sport h2{
			color: #fff;
			font-size: 20px;
			margin: 5% 0;
		}

		.do{
			width: 50%;
			padding: 0 4%;
    		margin: auto;
		}

		.do h3{
			text-align: center;
			margin-bottom: 2.14286rem;
			margin-top:13.14286rem;
			font-size: 2rem;
		}

		.se{
			width: 100%;
    		margin: 0 auto;
    		border:1px solid #ccc;
    		border-radius: 0.45rem;
    		display: flex;
    		justify-content: space-between;
		}

		.se input{			
			width: 100%;			
			padding:1.2rem;
			border:none;
			outline: none;
			border-radius: 5px;
		}

		.se span{			
			border-left:none;
			padding:1.2rem;
		}

		.se button{
			background: #58c7a7;
		    border-radius: 6px;
		    padding: 9px 12px;
		    outline: none;
		}

		.share-1{
			padding-top: 100px;
		}

		.share-1 ul{
			width: 190px;
			margin:0 auto;

		}

		.share-1 li{
			float: left;
    		padding: 0 10px;
		}

		.share-1 i{
			width: 16px;
			height: 16px;
			color: #000;
			float: left;
		}

		.share-1 a{
			float: left;
		}

		.share-1 img{
			width: 16px;
			height: 16px;
		}

		footer {
			padding: 0 4%;
		}

		.footer-top{
			width: 61%;
			margin:0 auto;
			padding-bottom: 80px;
			display: flex;
		}

		.footer-top>div{
			flex-grow: 1;
			width: 34%;
		}

		.footer-top>div>div{
			float: left;
			margin-right: 5%;
		}

		.footer-top>div>div li{
			line-height: 28px;
		}

		.footer-top>div>div li a:hover{
			color: #58c7a7;
		}

		.footer-top>div>div img{
			width: 22px;
			height: 27px;
			padding-top: 7px;
		}

	

		.footer-top>div>div li{
			font-size: 0.8rem;
    		color: #777;
		}

		.footer-top>div:last-child{
			padding-right: 0;
			padding-left: 0;
		}

		.footer-top>div:last-child li{
			margin-left: 24px;
		}

		.footer-top>div:last-child img{
			float: left;
		}

		.footer-top h2{
			margin-bottom: 1.5rem;
			font-size: 1.5rem;
			color: #000;
		}

		.footer-top a{
			font-size: 0.8rem;
			color: #777;
		}

		.f-d-bg{
			width: 100%;
			border-top: 1px solid #ccc;
		}

		.footer-down{
			width: 61%;
			margin:0 auto;
			padding-bottom: 3.14286rem;
			padding-top: 3.57143rem;
		}

		.footer-down p{
			font-size: 0.92857rem;
			color: #777;
		}

		

		.footer-down>ul:last-child{
			float: right;
		}

		.footer-down p{
			float: left;
		}

		.footer-down li{
			float: left;
			margin-right: 10px;
			position: relative;
		}

		.footer-down li>img{
			position: absolute;
		    top: -29px;
		    left: -5px;
		    display: none;
		}

		.footer-down li:nth-child(2)>img{
			left: -11px;
		}

		.footer-down li:nth-child(3)>img{
			left: -27px;
		}

		.footer-down li:nth-child(4)>img{
			left: -9px;
		}

		.footer-down li:nth-child(5)>img{
			left: -17px;
		}

		.footer-down li:last-child>img{
			left: -3px;
		}

		.Latest-1 .swiper-container{
			width: 100%;
			height: auto;
    		margin-right: 0.6rem;
    		float: left;
		}

		.Latest-1 .swiper-container img{
			width: 100%;
			height: 100%;
		}

		.border{
			border:1px solid black;
		}

		.swiper-button-prev img,.swiper-button-next img{
			width: 20px !important;
			height: 20px !important;
		}


		.g-bg-white{
			background-color: #fff;
			float: left;
			width: 100%;
		}

		.g-bg-white img{
			width: 16px;
		}

		.g-bg-white h4{
			font-size: 0.78571rem;
			text-align: center;
    		line-height: 2.6;
		}

		.g-bg-white .sz a{
			float: left;
			color: #292b2c;
			font-size: 0.71429rem;
			    margin: 0 6px;
		}

		.g-bg-white .sz{
			text-align: center;
    		display: flex;
    		justify-content: space-around;
    		padding-bottom: 18px;
		}

		.g-bg-white .sz .chima{
			float: left;
		    background: #f7f7f7;
		    padding: 4px 20px;
		    border-radius: 12px;
		    margin: 0 20px;
		}

		.sz .chima i{
			color: #999 !important;
		}


		

		.jacket{
			position: absolute;
		    bottom: 2%;
    		left: 20%;
		}

		.auto::-webkit-scrollbar {/*隐藏滚轮*/
			display: none;
		}	

		.jacket a{
			display: block;
			color: #fff;
			font-size: 14px;
			opacity: 0.8;
			margin-top: -8px;
			margin-bottom: 10px;
		}

		.jacket span{
			margin-left: 24px;
    		color: #fff;
    		font-size: 18px;
    		font-weight: bold;
		}

		.nav-3>div:first-child{
			border-bottom: 1px solid #ccc;
			padding-bottom: 13px;
		}

		.color1{
			width: 100%;
		    height: 100%;
		    background: rgba(0,0,0,0.4);
		    z-index: 99;
		    position: absolute;
		}

	.sper{
		float: left;
	}

		.swiper-container {
        width: 205px;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .swiper-slide {
     /*   background-size: cover;*/
        background-position: center;
        background-repeat: no-repeat;
    }
    .gallery-top {
        height: 732px;
        width: 100%;
    }
    .gallery-thumbs {
        height: 140px;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 0;
        float: left;
    }
    .gallery-thumbs .swiper-slide {
        width: 205px;
        height: 140px;
        opacity: 0.4;
    }
    .gallery-thumbs .swiper-slide-active {
        opacity: 1;
    }

  	.searchform{
  		background-color: #000;
		position: absolute;
	    right: 0;
	    top: 100%;
	    padding: 0.71429rem;
	    display: none;
	    z-index: 99;
  	}

	.form-control{
		padding:8px;
		float: left;
	}


	.input-addon{
		float: left;

	}

	.btn{
		background-color: #3bb18f;
		border: 0;
		padding: 10px;
		color: #fff;
		cursor: pointer;
	}

	.pic-4{
		width: 100%;
		margin:0 auto;
		float: left;
		position: absolute;
		z-index: 99;
		left: 0;
		top: 100%;
		border-top: 2px solid #3bb18f;
		display: none;
	}

	.pic-5{
		width: 100%;
		margin:0 auto;
		float: left;
		position: absolute;
		z-index: 99;
		left: 0;
		top: 100%;
		border-top: 2px solid #3bb18f;
		padding: 0 20px 45px 45px;
		background-color: #fff;
		border-left: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		border-right: 1px solid #ccc;
		display: none;
	}

	.pic-5 .col-md-4 {
		width: 25%;
	}

	.input-group {
		display: flex;
	}

	.form-control,.btn {
		border-radius: 0;
	}

	.btn {
	 	padding: 7px 12px;
	}

	.pic-6{
		width: 100%;
		margin:0 auto;
		float: left;
		position: absolute;
		z-index: 99;
		left: 0;
		top: 100%;
		border-top: 2px solid #3bb18f;
		padding: 27px;
		background-color: #fff;
		border-left: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		border-right: 1px solid #ccc;
		display: none;
	}

	.nav-bar .pic-6 .col-md-6{
		width: 31%;
	    padding: 10px;
	    border:1px solid #ccc;
	    float: left;
		margin: 10px;
	}

	.nav-bar .pic-6>div>img{
		width: 100px;
		height: 100px;
		margin:0;
		float: left;
		margin-right: 10px;
	}

	.nav-bar .pic-6>div>a{
		display: block;
		font-size: 17.5px;
	    line-height: 24.5px;
	    font-weight: 600;
	        margin-top: 10px;
	    float: none;
	}


	.nav-bar .pic-6>div>a:nth-child(3){
		font-size: 13px;
		line-height: 20px;
		color: #777;
	}

	.nav-bar .pic-6>div>span{
		line-height: 35px;
	}

	.nav-bar .pic-6 .tb{
		float: right;
		margin-top: 9px;
	}

	.nav-bar .pic-6 .tb a{
		margin-left: 0;
	}

	.nav-bar .pic-6 .tb a img{
		width: 16px;
		height: 16px;
	}

	.nav-bar .pic-6 .tb a:first-child{
		border-right: 1px solid #ccc;
		    padding-right: 5px;
	}

	.pic-5>div{
		float: left;
	}

	.pic-5>div:last-child {
		margin-right: 0;
	}



	.pic-5 ul li{
		float: left;
		width: 100%;
		margin-top: 6px;
	}

	.pic-5 ul li a{
		margin:0;
		color: #777;
	}

	.pic-5 h4{
		margin-top: 45px;
		margin-bottom: 0px;
	}

	.pic-5 a:hover{
		text-decoration: underline;
	}

	.pic-4>div{
		float: left;
		position: relative;
	}

	.col-md-8 {
		padding: 0;
	}

	.col-md-8 img {
		margin-left: 0;
	}

	.pic-4>div img{
		width: 100%;
	}

	.pic-4>div:last-child{
		background-color: #eef1f8;
		padding: 11.5% 5%;
	}

	.p-9{
		cursor: pointer;
	}

	.p-9 span{
		display: block;
		color: #fff;
		font-size: 3rem;
    	font-weight: 700;	

	}

	.p-9 .sp{
		position: absolute;
    	top: 34%;
    	right: 5%;
	}

	.p-9 .sp span:first-child{
		margin-left: 26%;
	}

	.p-9 .sp span:last-child{
		font-size: 18px;
		color: #000;
		float: right;
	}

	.p-8{
		cursor: pointer;
	}

	.p-8 span{
		display: block;
	}

	.p-8 span:last-child{
		color: #3bb18f;
		font-size: 18px;
		font-weight: 800;
		margin-left: 57px;
    	margin-top: 20px;
	}

	.p-8 .sp{
		margin-left: 30%;
	}

	@media(min-width: 1200px){
		.container,.nav-list,section,section .content-sper,.Latest-1,.footer-top {
		    width: 1140px;
			max-width: 100%;
		}
		
		.main {
			max-width: 100%;
		}
		.row {
			margin: 0;
		}
		.pic-44 {
			width: 1140px;
		}
		.footer-down {
			width: 1140px;
		}
	}
	@media screen and (min-width: 992px) and (max-width: 1200px) {
		.container,.nav-list,section,section .content-sper,.Latest-1,.footer-top {
		    width: 960px;
			max-width: 100%;
		}

		.nav {
			width: 960px;
		}

	

		.row11>div {
			width: 100%;
			text-align: center;
			margin-bottom: 4%;
		}


		.tablist li:nth-child(2) {
			margin: 0 9%;
		}

		.col-sm-6 {
			width: 25%;
		}

		.time {
			margin-right: 70px;
		}

		.languages {
			margin-right: 90px;

		}
		
		.main {
			max-width: 100%;
		}
		.row {
			margin: 0;
		}
		.pic-44 {
			width: 960px;
		}

		.col-lg-7 {
			max-width: 58.333%;
		}

		.col-lg-7>div {
			width: 100%;
		}


		.Latest-1 .swiper-container {
			padding: 0;
			width: 100%;
			height: 100%;
		}

		.footer-down {
			width: 960px;
		}
	}
	@media screen and (min-width: 769px) and (max-width: 992px){
		.container,.nav-list,section,section .content-sper,.Latest-1,.footer-top {
		    width: 720px;
			max-width: 100%;
		}

		.container {
			padding-left: 0;
			padding-right: 0;
		}
		.do {
			width: 100%;
		}

		.col-lg-5 {
			width: 100%;
		}
		.g-px {
			max-width: 100%;
		}
		.phone {
			margin-left: 5%;
			margin-right: 5%;
		}
		.nav {
			width: 720px;
		}
		.menu {

			float: right;
			cursor: pointer;
		}
		.menu.closer {
			background-image: url("../images/关闭.png");
			background-repeat: no-repeat;
			background-size: 34px;
		}
		
		.nav-bar {
			float: none;
			width: 100%;
			display: flex;
			flex-direction: column;
			line-height: 2;
		}

		.nav-bar.visuallyhidden {
			display: flex;
			display: none;
			width: 100%;
		}

		.row11>div {
			width: 100%;
			text-align: center;
			margin-bottom: 4%;
		}
		.swiper-slide.swiper-slide-active {
			width: 100%;

		}


		.time {
			margin-right: 5%;
		}

		.languages {
			margin-right: 5%;
		}
		
		.main {
			max-width: 100%;
		}
		.row {
			margin: 0;
		}
		.pic-44 {
			width: 720px;
		}

		.col-lg-7 {
			max-width: 100%;
		}



		.Latest-1 .swiper-container {
			padding: 0;
			width: 100%;
			height: 100%;
		}

		.footer-down {
			width: 720px;
		}
	}
@media (max-width: 768px){
		.container,.nav-list,section,section .content-sper,.Latest-1,.footer-top {
		    width: 540px;
			max-width: 100%;
		}

		.container {
			padding-left: 0;
			padding-right: 0;
		}

		.Top-bg .container{
			display: flex;
			justify-content: space-between;
		}

		.col-lg-5 {
			width: 100%;
		}
		.g-px {
			max-width: 100%;
		}
		.phone {
			margin-left: -11%;
			margin-right: 13%;
		}
		.share>ul,.time {
			display: none;
		}
		.nav {
			width: 540px;
		}
		.do {
			width: 100%;
		}
		.pic-44 {
			display: block;
		}

		.Latest-1 .col-sm-6 {
			width: 245px;
			margin: 2%;
		}
		.pic-44 li {
			margin: 0;
			width: 50%;
			margin-bottom: 3%;
		}
		.pic-44 img {
			transform: translate3d(0, -20px, 0) scale3d(1, 1.2, 1);
		}
		.menu {

			float: right;
			cursor: pointer;
		}
		.menu.closer {
			background-image: url("../images/关闭.png");
			background-repeat: no-repeat;
			background-size: 34px;
		}
		
		.nav-bar {
			float: none;
			width: 100%;
			display: flex;
			flex-direction: column;
			line-height: 2;
		}
		
		.nav-bar.visuallyhidden {
			display: flex;
			display: none;
			width: 100%;
		}

		.row11>div {
			width: 100%;
			text-align: center;
			margin-bottom: 4%;
		}
		.swiper-slide.swiper-slide-active {
			background-size: 100% !important;
		}


		.time {
			margin-right: 5%;
		}

		.languages {
			margin-right: 5%;

		}
		
		.main {
			max-width: 100%;
		}
		.row {
			margin: 0;
			display: flex;
			flex-wrap: wrap;
		}
		.pic-44 {
			width: 540px;
		}
		.free {
			float: none;
			display: flex;
			flex-direction: column;
		}
		.free>div:nth-child(2) {
			border: none;
		}
		.free>div {
			margin: 2%;
		}
		.col-lg-7 {
			max-width: 100%;
		}
		.main>div .word {
			width: 60%;
		    margin: 0 auto;
		    padding: 15% 0;
		}
		.main>div .pic {
			max-height: 400px;
		}
		.gallery-top {
			height: 580px;
		}

		.g-px {
			padding-left: 2rem !important;
		}

		.Latest-1 .swiper-container {
			padding: 0;
			width: 100%;
		}

		.footer-down {
			width: 540px;
		}
	}
	@media (max-width: 479px) {
		.container,.nav,.nav-list,section,section .content-sper,.Latest-1,.footer-top {
		    width: 360px;
			max-width: 100%;
		}
		.nav {
			padding-left: 4%;
			padding-right: 2%;
		}
		.nav-bar li div {
			display: none;
		}
		.Top-bg .container {
			flex-direction: column;
			text-align: center;
		}
		.phone {
			margin-right: 0;
		}
		.languages {
			display: flex;
			justify-content: center;
		}
		.other {
			display: flex;
			justify-content: center;
			margin-top: 1%;
		}
		.gallery-top {
			height: 380px;
		}
		.gallery-thumbs .swiper-slide {
			width: 114px !important;
			height: 70px;
			background-size: 100% !important;
		}
		.col-md-4,.Latest-1 .row,.pic-44,.pic-44 li,.do,.footer-top>div,.footer-down {
			width: 100%;
		}
		.pic-44 li {
			margin-bottom: 7%;
		}
		.Latest-1 .col-sm-6 {
			width: 100% !important;
			max-width: 100%;
			margin-bottom: 8% !important;
		}
		.footer-top {
			flex-direction: column;
		}
		.footer-down {
			display: flex;
			flex-direction: column;
		}
		.footer-top h2 {
			font-weight: 700;
			font-style: 2rem;
		}
		.footer-down>ul:last-child {
			margin: 4% 0;
		}
	}
	
	